<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--类型别名-->
    <typeAliases>
        <package name="cn.itbill.pojo"/>
    </typeAliases>

    <!--
    environments: 可以设置多个环境，连接多个数据库
    -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!--数据库连接信息-->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://175.178.164.43:3306/api-food?useSSL=false"/>
                <property name="username" value="api-food"/>
                <property name="password" value="x76aKnY348EAz5hY"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--加载sql映射文件-->
<!--        <mapper resource="cn/itbill/mapper/UserMapper.xml"/>-->

        <!--Mapper代理方式-->
        <package name="cn.itbill.mapper"/>
    </mappers>
</configuration>